/* -------------------------------------------------Fonts, All, Body, Main and H1 properties----------------------------------------------------*/

@font-face {
    font-family: "Barlow";
    src: url(../bilsida/Fonts/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "Barlow Bold";
    src: url(../bilsida/Fonts/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: "Bungee Outline";
    src: url(../bilsida/Fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(../bilsida/Fonts/BungeeShade-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-image: url(Images/Street-racing-Getty-scaled1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);

    
}



main {
    margin: 50px auto;
    padding: 15px;
    background-color: rgba(27, 27, 27, 0.4);
    border-radius: 20px;
    max-width: 1200px;
    
}

h1{
    font-family: Bungee Shade;
    font-size: 60px;
    color: #B2BABB;
    font-weight: bold;
    letter-spacing: 1px;
    /* removes "padding" from h1 */
    line-height: 1;
    background: -webkit-linear-gradient(#965602c2, rgba(204, 159, 36, 0.762) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------------------------------------------Fonts,All, Body, Main and H1 properties----------------------------------------------------*/ 

/* -------------------------------------------------Navbar, properties----------------------------------------------------*/ 
nav {

    display: flex;
    gap: 20px;
    height: 77.5px;
    flex-basis: 100%; /* Gör så naven blir lika stor */
    margin-top: 20px;
    
 
}


nav a {
    height: 63px;
    display: flex;
    font-family: barlow; /* Flyttar texten för länkarna i mitten av knapparna */
    font-size: 25px; /* Storlek för fonten */
    background-color: rgba(39, 39, 39, 0.697);
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: rgba(204, 159, 36, 0.737);
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

nav a:nth-child(1):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover {
    background-color: rgba(204, 159, 36, 0.252);
    color: #B2BABB;
    
}

nav a:nth-child(2) {
    font-family: barlow;
    box-shadow: #ff4a12b0 0px 1px 10px;
    border: 1px rgba(204, 159, 36, 0.737) solid;
    font-family: Barlow Bold;
    
}

nav a:nth-child(2):hover {
    cursor:pointer
}
/* -------------------------------------------------Navbar, properties----------------------------------------------------*/ 

/* -------------------------------------------------Section, properties----------------------------------------------------*/ 
section {
    padding: 10px;
    border: solid 2px rgba(245, 245, 245, 0.758);
    border-radius: 12.5px;
    background-color: rgba(0, 0, 0, 0.432);
}

section>div {
    display: flex;
}


section h2  {
    font-family: Bungee outline;
    color: white;
    line-height: 1;
    font-size: 32px;
}

section h3 {
    font-family: Barlow Bold;
    background: -webkit-linear-gradient(#965704b0, rgba(204, 159, 36, 0.762) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-size: 20px;
    margin-top: 10px;
}


section  h4 {
    font-family: Barlow;
    color: rgba(204, 159, 36, 0.737);  
}
section p {
    font-family: Barlow;
    color: white;
    text-align: left;
    position: relative;
    align-items: center;
    margin-top: 40px;
    padding-right: 3px;  
}
/* -------------------------------------------------Section, properties----------------------------------------------------*/ 

/* -------------------------------------------------List, properties----------------------------------------------------*/ 
summary {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

summary li {
    list-style: none;
}

main>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
aside {
   min-width: 28.5vw;

}

div li {color: white;}

ol,
ul {
    font-family: Barlow;
}

.lists {
    margin-top: 6.5px;
    display: flex;
    gap: 10px;
    
}

.lists :nth-child(1) {
    border-radius: 0 0 0 20px;
}

.lists :nth-child(2) {
    border-radius: 0 0 20px 0;
}

.list {
    padding: 10px;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    background-color: rgba(43, 43, 43, 0.903);
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
ol {
    padding-left: 13px;


}
/* -------------------------------------------------List, properties----------------------------------------------------*/ 

/* -------------------------------------------------Images Desktop, effect----------------------------------------------------*/ 
#images {
    position: relative;
    width: 100%;

}

#images img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

#images img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease;
}

#images img:nth-child(1):hover {
    opacity: 1;

}
/* -------------------------------------------------Images Desktop, effect----------------------------------------------------*/ 



/* -------------------------------------------------Boxes properties----------------------------------------------------*/ 
.boxes {
    display: flex;
    gap: 10px;
    

}

.boxes div {
    display: flex;

    align-items: center;
    padding: 10px;
    flex: 1;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.boxes p {
    display: flex;
align-items: center;
justify-content: center;
margin: 0;
display: contents;
line-height: 0%;
}
    section:nth-of-type(1) .boxes div {
        background-color: rgba(167, 135, 48, 0.647);

        

    }
    
    section:nth-of-type(1) .boxes div p {
        color: white;
        
    }
    
    section:nth-of-type(1) .boxes :nth-child(1) {
        border-radius: 25px 0 25px 25px;
    }
    
    section:nth-of-type(1) .boxes :nth-child(2) {
        background-color: rgba(240, 248, 255, 0);
        box-shadow: none;
        
        

    }
    
    section:nth-of-type(1) .boxes :nth-child(3) {
        flex: 2;
        border-radius: 25px 25px 25px 0;


    }
    
    section:nth-of-type(1) .boxes :nth-child(4) {
        background-image: url("../bilsida/Images/svartvitm5aa.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 0 25px 25px 25px;
        -webkit-text-stroke: rgba(167, 135, 48, 0.647) 1px;

    
        align-items: flex-end;
    }
    
    section:nth-of-type(1) .boxes :nth-child(5) {
        border-radius: 25px 25px 0 25px;

    }
    
    section:nth-of-type(2) .boxes div p {
        color: white;
    }
    
    section:nth-of-type(2) .boxes div {
        background-color: rgba(167, 135, 48, 0.647);
    }
    
    section:nth-of-type(2) .boxes :nth-child(1) {
        border-radius: 25px 25px 25px 0;
        flex: 2;
        
    }
    
    section:nth-of-type(2) .boxes :nth-child(2) {
        border-radius: 0 25px 25px 25px;
    }
    
    section:nth-of-type(2) .boxes :nth-child(3) {
        -webkit-text-stroke: white 1px;
        background-image: url("../bilsida/Images/180m4bmw.jpg");
        background-size: cover;
        background-position: center;
        
        border-radius: 0 25px 25px 25px;
        flex: 2;
        align-items: flex-end;
    }
    
    section:nth-of-type(2) .boxes :nth-child(4) {
        border-radius: 25px 25px 0 25px;
 
   }
    /* -------------------------------------------------Boxes properties----------------------------------------------------*/ 


  /* -------------------------------------------------Media querys Desktop----------------------------------------------------*/ 
@media screen and (min-width: 900px) and (max-width: 1200px) {
    h1 {
        font-size: clamp(40px, 5vw, 60px); 
    }

    section h2 {
        font-size: clamp(20px, 3vw, 32px); 
    }

    section h3 {
        font-size: clamp(18px, 2vw, 20px); 
    }

    p, li, h4 {
        font-size: clamp(0.7rem, 1.5vw, 1.0rem);
        
    }

}

@media screen and (min-width: 800px) and (max-width: 900px) {
    h1 {
        font-size: 45px; 
    }

    section h2 {
        font-size: 27px; 
    }

    section h3 {
        font-size: 18px; 
    }

    p, li, h4 {
        font-size: 0.85rem;
        
    }
}

@media screen and (min-width: 1200px)  {
    aside {
        min-width: 343px;
    }

}

 /* -------------------------------------------------Media querys Desktop----------------------------------------------------*/ 


 /* -------------------------------------------------Media querys Mobile----------------------------------------------------*/ 
@media screen and (max-width: 500px) {
    body {
        background-image: url("../bilsida/Images/Street-racing-Getty-scaled1.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    main {
        border-radius: 0;
        width: 100vw;
        margin: 0;
    }

    main h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    nav a {
        font-size: 1rem;
    }

    section>div {
        flex-direction: column-reverse;
        gap: 15px;
    }

    #images img {
        border-radius: 10px 0 0 10px;
    }

   ol {
        padding-left: 17px;
    }

    h4 {
        font-size: 1.1rem;
    }

    h2 {
        
        -webkit-text-stroke: #F8F0E3 1px;
    }


    li {
        font-size: 1.1rem;
    }

    .boxes {
        margin-top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 0.94;
    }

    .boxes p {
        font-size: 0.7rem;
    }

    section:nth-of-type(1) .boxes :nth-child(1) {
        order: 1;
        flex-basis: 25%;
    }

    section:nth-of-type(1) .boxes :nth-child(2) {
        order: 3;
        flex-basis: 31%;
    }

    section:nth-of-type(1) .boxes :nth-child(3) {
        order: 2;
        flex-basis: 50%;
    }

    section:nth-of-type(1) .boxes :nth-child(4) {
        order: 4;
        flex-basis: 30%;
    }

    section:nth-of-type(1) .boxes :nth-child(5) {
        order: 5;
        flex-basis: 30%;
    }

    section:nth-of-type(2) .boxes :nth-child(1) {
        flex-basis: 50%;
    }

    section:nth-of-type(2) .boxes :nth-child(2) {
        flex-basis: 30%;
    }

    section:nth-of-type(2) .boxes :nth-child(3) {
        flex-basis: 50%;
    }

    section:nth-of-type(2) .boxes :nth-child(4) {
        flex-basis: 30%;
    }
}
    /* -------------------------------------------------Media querys Mobile----------------------------------------------------*/ 

    /* -------------------------------------------------Media querys Tablet----------------------------------------------------*/ 
    @media screen and (min-width: 500px) and (max-width: 800px){
        * {
            filter: blur(4px);
        }
       }
    /* -------------------------------------------------Media querys Tablet----------------------------------------------------*/ 